[parameters]
    database_driver="pdo_mysql"
    database_host="localhost"
    database_port="3306"
    database_name="bd_cupon2"
    database_user="root"
    database_password="root"
    mailer_transport="smtp"
    mailer_host="localhost"
    mailer_user=""
    mailer_password=""
    locale="en"
    secret="be98672ec4ceadeb10987f44186ebc4f1"
